body{
  margin:0;
  overflow:hidden;
  background:black;
  font-family:Arial;
}

/* canvas */
canvas{
  position:fixed;
  top:0;
  left:0;
}

/* UI موبايل احترافي */
.ui{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:10px;
  align-items:center;
  z-index:10;
}

/* بوكس أصغر */
textarea{
  width:180px;
  height:40px;
  padding:8px;
  border-radius:10px;
  border:none;
  background:rgba(255,255,255,0.1);
  color:white;
  outline:none;
}

/* زر */
button{
  padding:10px 14px;
  border:none;
  border-radius:10px;
  background:gold;
  font-weight:bold;
}
