
body{
  margin:0;
  overflow:hidden;
  background:black;
  font-family:Arial;
}

canvas{
  position:fixed;
  top:0;
  left:0;
}

.ui{
  position:fixed;
  bottom:15px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:10px;
}

textarea{
  width:200px;
  height:45px;
  border-radius:10px;
  border:none;
  padding:8px;
  background:rgba(255,255,255,0.1);
  color:white;
}

button{
  border:none;
  border-radius:10px;
  background:gold;
  padding:10px;
  font-weight:bold;
}
